<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">

  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Advanced Internal Medicine</title>
    <meta name="viewport" content="width=device-width, maximum-scale=2">
    <link rel="stylesheet" type="text/css" media="screen" href="assets/css/style.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="assets/css/style.scss" />
    
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    
      
    <script>
      function myFunction() {
        var x = document.getElementById("myNavelements");
        if (x.className === "navelements") {
          x.className += " responsive";
        } else {
          x.className = "navelements";
        }
      };    
    </script>
  
  </head>

  <body style="background-color: #ffffff; font-family: helvetica;">

    <!-- HEADER -->
    <div id="header_wrap" class="outer">
        <header class="inner">
          <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

          <div class="navbar" id="myNavbar">
            <left>
              <a href="https://www.texasinternalmedicine.com">
                <img src="https://user-images.githubusercontent.com/69354578/224575624-68772e5e-3e9c-4a38-8d59-1ac265f01742.png" height="75" align="left">
              </a>
            </left>
            <div class="navelements" id="myNavelements">
              <a href="contact-us" align="right" class="active">Contact Us</a>
              <a href="testimonials" align="right">Testimonials</a>
              <a href="meet-dr-jain" align="right">Meet Dr. Jain</a>
              <a href="services" align="right">Services</a>
              <a href="telemedicine" align="right">Telemedicine</a>
              <a href="javascript:void(0);" class="icon" onclick="myFunction()">
                <i class="fa fa-bars" style="font-size:34px"></i>
              </a>
          </div>
        </header>
    </div>

        <!-- MAIN CONTENT -->
    <div id="main_content_wrap" class="outer">
      <section id="main_content" class="inner">
        {{ content }}
      </section>
    </div>

    <!-- FOOTER  -->
    <div class="footer">
      <center>    
        <p>Proudly serving the Greater North Houston area since 2010</p>
      </center>
    </div>
  </body>
</html>
